{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "exclude" : ["babel-plugin-transform-classes"]
      }
    ]
  ],
  "retainLines": true,
  "plugins": [
    // "@babel/plugin-transform-runtime",
    // "@babel/plugin-proposal-class-properties"
  ]
}
