{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "retainLines": true,
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
